html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #252A38;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.brand {
    position: absolute;
    z-index: 1;
    color: #fff;
    padding: 6px 0 0 10px;
}

.container {
    padding-top: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search {
    width: 100%;
    position: relative
}

.search-field {
    float: left;
    width: calc(100% - 50px);
    border: 3px solid #1D2028;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    background-color: #252A38;
    color: #c1c1c1;
}

.search-field:focus {
    color: #fff;
}

.search-button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 36px;
    border: 1px solid #1D2028;
    background: #1D2028;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.search-wrap {
    width: 25%;
}

#current-artwork-cover {
    padding: 20px 0 10px;
    height: auto;
    width: 400px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background: #1D2028;
    color: #fff;
    text-shadow: 0.25px 0.25px #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-pause-toggle,
#next-song {
    cursor: pointer;
}

#next-song {
    padding-left: 10px;
}

.current-song-container {
    width: 50vw;
    margin-left: 10px;
}

#current-time {
    float: left;
    font-size: 14px;
}

.current-song {
    float: right;
    padding-bottom: 3px;
    width: 40vw;
    overflow: hidden;
    position: relative;
}

.current-song p {
    position: relative;
    white-space: nowrap;
    left: 0px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
}

#progress-bar {
    width: 100%;
    height: 5px;
    background: #0F121B;
    float: left;
}

#progress {
    height: 100%;
    width: 0;
    background: rgba(146, 163, 210, 0.5);
}

#current-artwork {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}